<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> Music Recomendation Engine </h1>
    <p> Integrated with Flask, Python, and Spotify's API </p>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5MkBQ9PUe3dIDpRgrTcptl?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    
    {% endblock %}
</body>
</html>